<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato|Stylish&display=swap" rel="stylesheet"> 
    
    <!-- meta data for sharing and caring -->
    <meta name="description" content="CryptoBorders * US-MX  - cap and trade virtual borders" />
    <meta property="og:title" content="CryptoBorders" />
    <meta property="og:description" content="CryptoBorders * US-MX  - cap and trade virtual borders" />
    <meta property="og:image" content="https://www.cryptoborders.io/CryptoBorders-share-t.jpg" />
    <meta property="og:url" content="https://www.cryptoborders.io" />
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="CryptoBorders" />
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="CryptoBorders"/>
    <meta name="twitter:description" content="CryptoBorders * US-MX - cap and trade virtual borders" />
    <meta name="twitter:image" content="https://www.cryptoborders.io/CryptoBorders-share-t.jpg" />
    <meta name="twitter:domain" content="cryptoborders.io"/>
    <link rel="canonical" href="https://www.cryptoborders.io" />
    <title>CryptoBorders 1.0 * US-MX</title>
delv    
  </head>
  <body>
    <noscript>
      <strong>We're sorry but cryptoborders doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
