<template>
  <div class="aerial">
    <div class="wrap">
      <div style="white-space:nowrap" id="aerialpane">
          <!--<img v-for="tile in tiles2render" :src="tile.url" v-on:click="$emit('show-tile',tile)">-->
          <!--<div style="display: inline-block;" v-for="tile in alltiles"  v-on:click="$emit('show-tile',tile)">-->

            <router-link tag="div"
              v-for="tile in alltiles"
              :to="'/' + tile.id"
              v-bind:key="tile.id"
              v-bind:class="[{
                claimed: claimed.includes(tile.id),
                forsale: forsale.includes(tile.id),
                mine: mine.includes(tile.id),
                }]"
              style="display: inline-block;">
                <v-lazy-image :src="tile.url"
                  :width="tile_w" :height="tile_w" />
            </router-link>

      </div>
    </div>


    <div class="nav next" v-on:click="forward">
      <v-icon size="64">navigate_next</v-icon>
    </div>

    <div class="nav prev" v-on:click="backward">
      <v-icon size="64">navigate_before</v-icon>
    </div>
  </div>


</template>


<script>
import * as d3 from 'd3'
import VLazyImage from "v-lazy-image";
import easyScroll from 'easy-scroll';


//import VueClazyLoad from 'vue-clazy-load'

export default {
  name: 'AerialView',

  components: {
    VLazyImage
    //VueClazyLoad
  },

  props: {
    mine: {},
    claimed: {},
    forsale: {},
    tiles: {},
    highlight: {
      type:Number,
      default:0,
    }
  },

  data() {
    return {
      width:800,
      height:200,
      tile_w:128,
      tile_nr: 5,
      //tiles2render: []
    }
  },

  computed: {
    /* tiles2render() {
      var h = Math.min(this.highlight, this.tiles.length - (this.width/this.tile_w + 11))
      var t = this.tiles.slice(h, h + this.width/this.tile_w + 11);
      t.forEach( function(d) {
          d.url = "http://cryptoborders.io/tiles/512/" + d3.format("06d")(d.id) + ".jpg"
      });
      return t
    }, */
    alltiles() {
      var t = this.tiles;
      t.forEach( function(d) {
          d.url = process.env.BASE_URL + "tiles/" + d3.format("06d")(d.id) + ".jpg"
      });
      return this.tiles
    }
  },

  watch: {
    highlight: function(e) {
      //console.log(e);
      document.querySelector('.wrap').scrollLeft =
        Math.min(this.highlight, this.tiles.length-this.tile_nr-2) * this.tile_w;
    }
  },

  mounted() {
     console.log(this.$options._componentTag + " mounted");
     window.addEventListener('resize', this.onResize);
  },

  created() {
   console.log(this.$options._componentTag + " created");
   this.onResize()
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
  },

  methods: {
    onResize() {
      this.width =  Math.min(window.innerWidth, 1440),
      this.height = Math.max(this.width/4,200);
      this.tile_nr = Math.round(this.width/this.tile_w);
    },
    forward(event)  {
      document.querySelector('.wrap').scrollLeft += this.tile_nr * this.tile_w;
      this.$emit("forward", this.tile_nr);
    },
    backward(event)  {
      document.querySelector('.wrap').scrollLeft -= this.tile_nr * this.tile_w;
      this.$emit("backward", this.tile_nr);
    }
  }

}
</script>


<style scoped>

.aerial {
  position: relative;
  max-width:1440px;
  margin:2px auto 50px auto;
}

.wrap{
  overflow:hidden;
}

img {
  cursor:pointer;
}

.nav {
  position:absolute;
  font-weight:bold;
  opacity:0.8;
  top:25%;
}

.claimed {
  border-bottom: 1px solid #ddd;
}

.forsale {
  border-bottom: 1px solid red;
}

.mine {
  border-bottom: 1px solid black;
}

.next {right:-50px;}
.prev {left:-50px;}


@media(max-width:420px) {
	.next {display: none}
  .prev {display: none}
}


</style>
