<template>
  <div class="">
    <svg refs="map" :width="width" :height="height" @mousemove="onMouseOver" @mouseup="onMouseClick">
      <defs>
        <linearGradient id="grad" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" style="stop-color:rgb(200,200,200);stop-opacity:0.8" />
          <stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:0.8" />
        </linearGradient>
      </defs>
      <g class="static">
        <image :x="width - 320 - 35" y="0"
          width="320" height="195.2"
          class="image"
          xlink:href="../assets/USmap.svg">
        </image>
        <line :x1="width - 325" y1="130" :x2="xscale(tiles[0].lon)" :y2="yscale(tiles[0].lat)" />
        <line :x1="width - 200" y1="195" :x2="xscale(tiles[tiles.length-1].lon)" :y2="yscale(tiles[tiles.length-1].lat)" />
      </g>
      <g class="focus">
        <!--<text :dx="current.x + 5" :dy="current.y - 5">{{ current.id }} </text>-->
        <circle r="5" :cx="current.x" :cy="current.y" />
      </g>

      <g class="highlight"  @mousemove="ignore" @mouseup="ignore">
         <polygon :points="highlightPolyPoints" fill="url(#grad)" />
         <line :x1="highlight_tile.x" :y1="highlight_tile.y" :x2="0" :y2="height" />
         <line :x1="highlight_tile.x" :y1="highlight_tile.y" :x2="width" :y2="height" />
         <circle r="3" :cx="highlight_tile.x" :cy="highlight_tile.y" />
      </g>

        <g class="tiles">
          <path class="track" :d="lineData" />
        </g>


    </svg>
  </div>
</template>

<script>
import * as d3 from 'd3'

export default {
  name: 'MapView',
  props: {
    tiles: {},
    highlight: 0,
    jumpto: 0
  },

  data: function() {
    return {
      width: 800,
      height: 360,
      margin: { x: 150, top:120, bottom:30 },
      current: { x:100, y:100, id:''},
      highlight_tile: { x:100, y:100, id:''},
      highlightPolyPoints: "",
    }
  },

  computed: {
    w: function () { return this.width/2 },
    xscale() {
      return d3.scaleLinear()
        .range([this.margin.x, this.width - this.margin.x])
        .domain(d3.extent(this.tiles, d => d.lon));
    },
    yscale() {
      return d3.scaleLinear()
        .range([this.height - this.margin.bottom, this.margin.top])
        .domain(d3.extent(this.tiles, d => d.lat));
    },
    lineData () {
        return d3.line()
          .x(d => this.xscale(d.lon))
          .y(d => this.yscale(d.lat))
          (this.tiles)
    },

  },

  watch: {
    highlight_tile: function() {
      this.highlightPolyPoints = ""
        + (this.highlight_tile.x) + ", " + (this.highlight_tile.y) + " "
        + "0, " + this.height + " "
        + this.width  + ", " + this.height + " "
    },
    highlight: function() {
      this.highlight_tile = this.tiles[Math.min(this.highlight,this.tiles.length-1)||0];
      this.highlight_tile.x =this.xscale(this.highlight_tile.lon);
      this.highlight_tile.y =this.yscale(this.highlight_tile.lat);
    }
  },

  mounted() {
     console.log(this.$options._componentTag + " mounted");
     window.addEventListener('resize', this.onResize);
  },

  created() {
   console.log(this.$options._componentTag + " created");
   this.onResize()
   this.current = this.tiles[0];
   this.current.x = this.xscale(this.current.lon);
   this.current.y = this.yscale(this.current.lat);
   this.highlight_tile = this.current;
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
  },

  methods: {
    onResize() {
      this.width =  Math.min(window.innerWidth, 1440)
      if (this.width < 420) {
        this.margin.x = 25;
      }
      this.height = Math.max(this.width/4,250);
    },

    ignore(e) {
      e.preventDefault();
    },

    onMouseOver(e) {

      var x0 = this.xscale.invert(e.offsetX);
      //console.log(x0);
      var i = d3.bisector(d => d.lon).left(this.tiles, x0, 1);
      i = Math.min(this.tiles.length-1, i);
      var d0 = this.tiles[i - 1];
      var d1 = this.tiles[i];
      var d = x0 - d0.lon > d1.lon - x0 ? d1 : d0;
      d.x = this.xscale(d.lon);
      d.y = this.yscale(d.lat);
      this.current = d;


    },
    onMouseClick(e) {
      var x0 = this.xscale.invert(e.offsetX);
      var i = d3.bisector(d => d.lon).left(this.tiles, x0, 1);
      i = Math.min(this.tiles.length-1, i);
      var d0 = this.tiles[i-1];
      var d1 = this.tiles[i];
      var d = x0 - d0.lon > d1.lon - x0  ? d1 : d0;
      d.x = this.xscale(d.lon);
      d.y = this.yscale(d.lat);
      this.$emit('highlight-tile',d.id-1)
    },
  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

svg {
  cursor:pointer;
}

circle {
  pointer-events: none;
}

.track {
  fill:none;
  stroke:black;
  stroke-width:1.5px;
  pointer-events: none;
}

.static line, .highlight line {
  fill:none;
  stroke:#999999;
  stroke-width:0.5px;
  stroke-dasharray: 3,1;
  opacity: 0.8;
}

.focus circle {
  fill:white;
  stroke:black;
  pointer-events: none;
}


.highlight polygon {
  stroke:none;
  pointer-events: none;
}

</style>
