<template>
  <div class="modal">
  <v-layout row justify-center >
    <v-dialog v-model="popup"
    persistent hide-overlay max-width="660">
      <v-card>
        <v-card-text><button class="modal-default-button"  @click="$emit('close')">
           <v-icon>close</v-icon>
        </button>
          <p >#{{tile.id}} /
          @km: {{ dist_km }} /
          @mile: {{ dist_miles }}</p>
         <v-spacer></v-spacer>
         <div>

  <!--
    <div class="nav prev" @click="backward">
			<v-icon size="64">navigate_before</v-icon>
		</div>
  -->

          <img :src="tile_url" />

		 <!--
      <div class="nav next" @click="forward">
		    <v-icon size="64">navigate_next</v-icon>
		   </div>
     -->
       </div>

          <div v-if="owner">
            <p>Owned by: {{owner}}</p>

            <div v-if="resellPrice > 0">
              <p>IS FOR SALE <br>
                Price Ξ {{ resellPrice }} ETH
              </p>
            </div>

            <div v-if="owner !== 'ME' ">
              <v-btn v-if="resellPrice > 0" color="black" dark
                @click="$emit('buy', { id:tile.id, price: resellPrice})">Buy
              </v-btn>
            </div>
            <div v-else>
              <v-btn v-if="resellPrice > 0" color="black" dark
                @click="$emit('cancel', { id:tile.id })">Cancel
              </v-btn>
              <v-btn v-if="!do_sale && resellPrice == 0" color="black" dark
                @click="do_sale=true">Sell
              </v-btn>
              <div v-if="do_sale">
                <v-form v-model="valid">
                  <v-container>
                    <v-layout row justify-center>
                      <v-flex
                        md8
                      >
                     <v-text-field v-if="resellPrice == 0"
                        v-model="price"  required   type="number" step="0.005"
                         label="Price Ξ"
                      ></v-text-field>
                      Minust fees you will get Ξ {{ (price * 0.67).toFixed(3) }} ETH
                    </v-flex>
                   </v-layout>
                 </v-container>
               </v-form>

               <v-btn v-if="resellPrice == 0" color="black" dark
                  @click="$emit('sell', { id:tile.id, price: price});do_sale=false">Sell
                </v-btn>
              </div>

            </div>
          </div>

          <div v-if="!owner">
            <p>UNCLAIMED <br>
             Minting Fee Ξ {{ initialPrice }} ETH</p>
             <v-btn color="black" dark
              @click="$emit('claim', tile.id)">Claim</v-btn>
          </div>

        </v-card-text>
      </v-card>
    </v-dialog>
</v-layout>
</div>
</template>


<style>

.hl {
  display: block;
}

.v-dialog {
}


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 600px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

@media(max-width:420px) {
  .modal img {width:256px;height:256px}

}



</style>

<script>
import * as d3 from 'd3'

export default {

  name: 'modal',

  props: {
    tile: {
      default:false,
    },
    resellPrice: {
      default:0,
    },
    initialPrice: {
      default:0,
    },
    popup: {
        default:true,
    },
    owner: {
      default:"n/a",
    }
  },

  data: function() {
    return {
      do_sale: false,
      price: 1.0,
    }
  },

  computed: {
    tile_url() {
      return process.env.BASE_URL + "tiles/" + (d3.format("06d")((this.tile.id))||0) + ".jpg"
    },
    dist_km() {
      return ((this.tile.id) * 1024 / 1000).toFixed(1);
    },
    dist_miles() {
      return (this.dist_km * 0.6213712).toFixed(1);
    },
  },

  methods: {

    forward()  {
      document.querySelector('.wrap').scrollLeft += this.tile_nr * this.tile_w;
      this.$emit("forward", 1);
    },
    backward()  {
      document.querySelector('.wrap').scrollLeft -= this.tile_nr * this.tile_w;
      this.$emit("backward", 1);
    }
  }
}

</script>

<style scoped>
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px auto;

}
</style>
