<template>
  <div id="app" data-app="true">
    <v-app fill-height>

      <v-navigation-drawer clipped  fixed v-if="drawer">
        <v-toolbar flat color="white" height="42">
          <v-toolbar-side-icon  @click="drawer = !drawer"></v-toolbar-side-icon>
          <v-spacer></v-spacer>
        </v-toolbar>

        <v-list dense>
          <v-list-tile @click="drawer = !drawer"  to="/#about">
            <v-list-tile-action>
              <v-icon></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title >ABOUT</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile  @click="drawer = !drawer"  to="/#mytiles" v-if="myTiles.length > 0" >
            <v-list-tile-action>
              <v-icon></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>MY TILES</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>

      <v-toolbar height="42"
        color="#fafafa"
        fixed
        flat>
        <v-toolbar-side-icon  @click="drawer = !drawer"></v-toolbar-side-icon>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn flat>
            <span v-if="balance">Ξ {{ balance }} &nbsp; </span> @ {{network}}
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <v-content mb-5>
          <v-container fluid  mb-5>
            <v-layout justify-center align-center>
                <v-flex shrink>

                  <img src="./assets/logo.png" class="logo" />

                  <MapView
                    :tiles="tiles"
                    :highlight="highlight"
                    @highlight-tile="highlightTile($event)"
                  />

                  <AerialView
                    :tiles="tiles"
                    :highlight="highlight-1"
                    :mine="myTiles"
                    :claimed="claimedTiles"
                    :forsale="tokensForSale"
                    @show-tile="showTile($event)"
                    @backward="mvbackward($event)"
                    @forward="mvfoward($event)"
                  />

                  <modal
                    :tile="show_tile"
                    :owner="owner"
                    :key="componentKey"
                    :initialPrice="initialPrice"
                    :resellPrice="resellPrice"
                    :popup="show_tile != false"
                    @close="closeTile"
                    @backward="mvbackward(1)"
                    @forward="mvfoward(1)"
                    @claim="claimToken($event)"
                    @sell="sellToken($event)"
                    @buy="buyToken($event)"
                    @cancel="cancelTokenSale($event)"
                    >
                  </modal>

                  <v-card v-if="tokenContractInstance" max-width="344" class="mx-auto">
                    <v-card-text>
                        Currently claimed:
                         {{ totalSupply }} / 199 ({{ ((totalSupply/199)*100).toFixed(1) }}%) <br>
                        Offered for sale: {{ tokensForSale.length }}
                    </v-card-text>
                  </v-card>

                  <v-card v-if="!tokenContractInstance" max-width="344" class="mx-auto" color="red lighten-5" >
                    <v-card-text>
                      <h4>{Not properly connected to Ethereum}</h4>

                      {{ error_msg }}

                      <div v-if="!web3Provider">
                        <a title="Install MetaMask"  href="https://metamask.io"><img alt="Install MetaMask" width="240" src="./assets/download-metamask-dark.png" /></a>
                      </div>

                    </v-card-text>
                  </v-card>

                  <div v-else>
                    <v-card v-if="!account"
                      max-width="344" class="mx-auto" color="red lighten-5">
                      <v-card-text>
                        <h4>No   account connected</h4>
                        Log into / Connect your account with Metamask!
                      </v-card-text>
                    </v-card>
                  </div>

                </v-flex>
              </v-layout>
            </v-container>

            <section id="mytiles" v-if="myTiles.length > 0" >
              <v-container fluid  mb-5>
                <v-layout justify-center align-center>
                  <v-layout row wrap>
                    <v-flex md12 mb-5>
                        <h2>My Tiles</h2>
                    </v-flex>
                    <v-flex md2></v-flex>
                    <v-flex md8>
                      <v-container grid-list-md>
                        <v-layout row wrap justify-center >
                          <v-flex v-for="i in myTiles" :key="i" md4  >
                                <v-card v-if="i > 0" class="pt-2 pb-2">
                                  #{{i}}
                                  <v-lazy-image :src="tiles[i-1].url"
                                    :width="256" :height="256 "class="ml-3 mr-3" />
                                  </v-card>
                          </v-flex>
                          <v-flex v-if="myTiles.length < 1" md12 mb-5>
                              You don't own any tiles
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-flex>
                    <v-flex md2></v-flex>
                  </v-layout>
                </v-layout>
              </v-container>
            </section>

            <section id="about">
              <v-container fluid mb-5>
                <v-layout justify-center align-center>
                  <v-layout row wrap>

                    <v-flex md12 mb-5> <h2>ABOUT</h2></v-flex>

                    <v-flex md3></v-flex>
                    <v-flex md6 text-xs-left mb-5>
						<p>TRADING VIRTUAL BORDERS</p>
						<p>
						<a href="https://en.wikipedia.org/wiki/Border">Borders</a> are arbitrary lines drawn into a landscape to separate competing bands of homo sapiens.
						Declining empires and dying civilizations of this species often try to enforce those borders by artificial
						barriers such as fences or walls with little regards to other natural habitats.
						</p>
						<p>
						<a href="https://en.wikipedia.org/wiki/Non-fungible_token">Non-fungible tokens</a> (ERC721) are arbitrary references stored on a blockchain linking to ordered pieces of digital bits
						declared as (intellectual) property of a single specimen or an arbitrary legal form.
						</p>
						<p>
						As we all know, the invisible hand of the market solves everything. Therefore the natural solution to the crisis of our time is simple:<br />
						Slice up borders into ownable tiles and cap and trade them.
						</p>
						<p>
						You can even buy yourself free from at least some of your sins as half of the proceeds go automatically into a cause for refugees,
						or into the <a href="https://en.wikipedia.org/wiki/Climate_crisis">climate crisis</a>, which is the same since it will be - if not already is - the predominant cause of involuntary
						migration, be it directly or indirectly.
						</p>
						<p>
						And yes, if you are reading these lines, you are part of the cause which effect is the climate crisis, is migration, are refugees.
						There is no easy way out.
						</p>
						<p>
						P.S. The US-Mexican border line was merely chosen as a start as it currently is the most obvious and most exposed example.
						 By no means, it is a singular case.
						It could happen anywhere, and it does happen everywhere.
						</p>
                    </v-flex>
                    <v-flex md3></v-flex>

                    <v-flex md3></v-flex>
                    <v-flex md6 text-xs-left mb-5>
                     <p>THE BORDER IMAGERY</p>
                      Custom software was used to process satellite imagery of the border area into a straight line.
                      The original material was retrieved from <a href="https://en.wikipedia.org/wiki/Landsat_7">NASA's Landsat 7</a> program.
                      <a href="http://riverstudies.net/aerial/">Read more about the process here</a>.
                    </v-flex>
                    <v-flex md3></v-flex>
                    
                   <v-flex md3></v-flex>
                    <v-flex md6 text-xs-left mb-5>
                     <p>DONATIONS</p>
                      We are still looking for suitable organization that is dedicated to the cause of refugees and can automatically receive ether. <br />
                      For now the donations will be collected at this address: 
                      <a class="addr" href="http://www.etherscan.io/address/0x9168Ee4766a4E9C6Ff59225aa4Ed819408F7Dbb0" target="_blank" rel="noopener noreferrer">0x9168Ee4766a4E9C6Ff59225aa4Ed819408F7Dbb0</a><br />
                      Any changes - or potential payouts in fiat - will be documented here.
                    </v-flex>
                    <v-flex md3></v-flex>                    

                    <v-flex md3></v-flex>
                    <v-flex md6 text-xs-left mb-5>
                    <p>USAGE NOTES</p>
                      You need the <a href="https://metamask.io">MetaMask</a> browser add-on to connect to the Ethereum blockchain and make full use of this platform!
                    </v-flex>
                    <v-flex md3></v-flex>


                    <v-flex md2></v-flex>
                    <v-flex md8 mb-5>
                      Hosted in the <a href="https://ipfs.io/">InterPlanetary File System</a>
                    </v-flex>
                    <v-flex md2></v-flex>

                    <v-flex md2></v-flex>
                    <v-flex md8 mb-5>
                      Made possible with support by: <br>
                      <a href="https://www.kunstkultur.bka.gv.at/arts-and-culture-division"> <img src="./assets/bka-300x53-1-300x53.png" height="26" alt=""></a>
                    </v-flex>
                    <v-flex md2></v-flex>


			<!--
                    <v-flex md2></v-flex>
                    <v-flex md8 mb-5>
                      <a href="https://opensea.io/assets/cryptoborders" title="Buy on OpenSea"> <img src="./assets/opensea.png" width="160" alt=""></a>
                    </v-flex>
                    <v-flex md2></v-flex>
			-->

                    <v-flex md2></v-flex>
                    <v-flex md8 mb-5>
                        Presented by: <br>
                        <a href="http://m.ash.to">  <img src="./assets/m.ash.to.png" height="26" alt=""></a> &nbsp; &nbsp; &nbsp;
                        <a href="http://www.fooviz.xyz"><img src="./assets/fooviz-logo.svg" height="26" alt=""></a> <br>
                    </v-flex>
                    <v-flex md2></v-flex>

                  </v-layout>
              </v-layout>
            </v-container>
          </section>



      </v-content>


      <v-footer fixed>
        <v-layout  justify-center>
        An Experiment by <a href="http://m.ash.to">m.ash.to</a>  &copy; 2019
        </v-layout>
      </v-footer>

    </v-app>
  </div>
</template>



<style>
#app {
  font-family: 'Lato', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin:0px;
  padding-top: 20px;
}

h1,h2,h3,h4 {font-family: 'Stylish', sans-serif;}
footer { font-size:0.9em}

.mx-auto {margin: 10px 0}

a {margin:0px 0px; padding: 0px 1px; color:black !important}
/* a:hover {background-color:black;color:white;text-decoration:none} */

@media(max-width:800px) {
	.logo {height:40px}
}


.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}


</style>


<script>
import MapView from './components/MapView.vue'
import AerialView from './components/AerialView.vue'
import Modal from './components/Modal.vue'
import VLazyImage from "v-lazy-image";
import BackToTop from './components/BackToTop.vue'

import getWeb3 from './utils/web3';
import tokenArtifact from "../truffle/build/contracts/CryptoBordersToken.json";
import addresses from "../truffle/build/addresses";
const { tokenAddress } = addresses;

const tiles = require('./assets/tiles.json');


export default {
  name: 'app',
  components: {
    MapView, AerialView, Modal, VLazyImage
  },

  data: function() {
    return {
      drawer: false,
      web3: null,
      web3Provider: null,
      network: "no network",
      error_msg: "",
      tokenContractInstance: null,
      account: null,
      tnxInProgress: false,
      isLoading: true,
      contractOwner: null,
      tiles:tiles,
      claimedTiles:[],
      tokensForSale: [],
      myTiles: [],
      totalSupply:null,
      show_tile: false,
      dialog:false,
      highlight: 1,
      jumpto: 1,
      owner: "n/a",
      initialPrice: 0,
      resellPrice: 0,
      balance:0,
      componentKey:0,
    }
  },

  mounted() {
    self = this;
    this.route(this.$route);

    getWeb3().then((res) => {
      this.web3 = res;
      this.web3Provider = this.web3.currentProvider;

      this.networkCheck();
      this.getContract();
      this.getAccount();

      this.web3.currentProvider.publicConfigStore.on('update',
        function() {
          console.log("web3 change");
          self.getAccount();
      });

    }).catch((err) => {
      console.log(err, 'err!!');
      self.error_msg = "Could not connect to web3";
    });

    //this.run();
    //window.addEventListener('forward', this.stop());
    //window.addEventListener('forward', this.hello);
  },

  destroyed() {
    this.stop()
  },

  computed: { },

  watch: {
    '$route' (to, from) {
      this.route(to);
    }
  },

  methods: {
    route(to) {
      var id = parseInt((to.path).replace(/^\//g, '')) || 0;
      if (id > 0 && id <= 3103) {
        this.showTile(this.tiles[id-1]);
      } else {
        this.show_tile = false;
      }
    },

    getAccount() {
      this.web3.eth.getAccounts().then((accounts) => {

        [this.account] = accounts;
        if (this.account) {
          this.getBalance();
          this.getMyTokens();
        } else {
          this.balance = 0;
          this.myTiles = [];
        }
      }).catch((err) => {
        console.log(err, 'err!!');
        self.error_msg = "Could not fetch accounts";
      });
    },

    getBalance() {
      this.web3.eth.getBalance(this.account).then((balance) => {
        this.balance =  web3.fromWei(balance);
        this.balance = parseFloat(this.balance).toFixed(2)
      }).catch((err) => {
        console.log(err, 'err!!');
      });
    },

    getContract () {
      console.log("get contract");
      self = this;


      this.tokenContract = this.$TruffleContract(tokenArtifact)
      this.tokenContract.setProvider(this.web3Provider)
      this.tokenContract.deployed().then((instance) => {
        this.tokenContractInstance = instance;
        console.log("found a deployed contract");
        this.getTotalSupply();
        this.getClaimedTokens();
        this.getInitialPrice();
        this.getTokensForSale();
        this.getMyTokens();
        if(this.show_tile) {
          this.getOwnerOf(this.show_tile.id)
        }
      }).catch((err) => {
        self.error_msg = "Token has not been deployed to detected network or given address.You might be on the wrong network!"
        console.log(err, 'err!!');
      });;
    },

    networkCheck () {
      self = this;
      this.web3.eth.net.getId((err, netId) => {
        if (err) {
          console.log(err, 'err!!');
          self.error_msg = "Could not get network";
          return
        }
        switch (netId.toString()) {
          case '1':
            self.network = "MAIN NET"
            break
          case '2':
            self.network = "Morden"
            break
          case '3':
            self.network = "Ropstent"
            break
          case '4':
            this.network = "Rinkeby "
            break
          default:
            self.network = "unknown network";
            break;
        }
        console.log('This is ' + self.network + "(id: " + netId +")")

      })
    },

    run() {
      this._timer = setInterval(() => {
          this.nextStep();
      }, 1000);
    },

    nextStep() {
      this.highlight += 1;
    },

    stop() {
      if (this._timer) clearInterval(this._timer);
    },

    mvfoward(e) {
      this.stop()
      this.highlight = Math.min(tiles.length, this.highlight + e);
      if (this.show_tile) {
       this.show_tile = tiles[this.highlight]
      }
    },

    mvbackward(e) {
      this.highlight = Math.max(1,this.highlight - e)
      if (this.show_tile) {
       this.show_tile = tiles[this.highlight]
      }
      this.stop();
    },

    highlightTile(e) {
      this.highlight = e;
      this.show_tile = false;
      this.stop();
    },

    showTile(e) {
      //this.dialog = true;
      this.show_tile = e;
      this.getOwnerOf(e.id);
      this.getIsForSale(e.id);
      this.componentKey += 1;
      this.stop();
    },

    closeTile(e) {
      this.show_tile = false;
      this.$router.push('/');
    },

    claimToken(id) {
      console.log("wanna buy: " + id);
      this.tnxInProgress = true;
      var options = { from: this.account, value: web3.toWei(this.initialPrice, 'ether'), }
      if (this.account ==="0xd9593Ace721D95Bd1c9eC6EC2bcCd634e73E4a73")
		options = { from: this.account, }		
      this.tokenContractInstance.claimToken(id, options).then((receipt) => {
        this.getTotalSupply();
        this.getClaimedTokens();
        this.getMyTokens();
        this.getOwnerOf(id);
        this.tnxInProgress = false;
      }).catch((err) => {
        console.log(err, 'err');
        this.tnxInProgress = false;
      });

    },

    buyToken(e) {
      console.log("wanna buy: " + e.id + " for: " + e.price);
      this.tnxInProgress = true;
      this.tokenContractInstance.buyToken(e.id,
        {
          from: this.account,
          value: web3.toWei(e.price, 'ether'),
        }
      ).then((receipt) => {
        this.getMyTokens();
        this.getOwnerOf(e.id);
        this.getTokensiForSale();
        this.tnxInProgress = false;
      }).catch((err) => {
        console.log(err, 'err');
        this.tnxInProgress = false;
      });
    },

    sellToken(e) {
      console.log("wanna sell: " + e.id + " for: " + e.price);
      this.tnxInProgress = true;
      this.tokenContractInstance.createAuction(
        e.id,   web3.toWei(e.price, 'ether'),
        { from: this.account }
      )
      .then((receipt) => {
        this.tnxInProgress = false;
        this.getMyTokens();
        this.getIsForSale(e.id);
        this.getTokensForSale();
      }).catch((err) => {
        console.log(err, 'err');
        this.tnxInProgress = false;
      });
    },

    cancelTokenSale(e) {
      console.log("cancel sales: " + e.id);
      this.tnxInProgress = true;
      this.tokenContractInstance.cancelAuction(
        e.id,
        { from: this.account }
      )
      .then((receipt) => {
        this.tnxInProgress = false;
        this.getOwnerOf(e.id);
        this.getTokensForSale();
      }).catch((err) => {
        console.log(err, 'err');
        this.tnxInProgress = false;
      });
    },

    setBeneficiary(address) {
      console.log("set setBeneficiary: " + address);
      this.tnxInProgress = true;
      this.tokenContractInstance.setBeneficiary(
        address,
        { from: this.account }
      )
      .then((receipt) => {
        this.tnxInProgress = false;
      }).catch((err) => {
        console.log(err, 'err');
        this.tnxInProgress = false;
      });
    },

    getMyTokens() {
      if (this.tokenContractInstance) {;
            (async () => {
              this.myTiles = (
                ( await this.tokenContractInstance.tokensOfOwner(this.account))
                .map(i => i.toNumber())
              )
            }) ()

      }
    },

    getClaimedTokens() {
      if (this.tokenContractInstance) {;
         (async () => {  this.claimedTiles = (
            (await this.tokenContractInstance.getClaimedTokens())
                .map(i => i.toNumber())
        ) }) ()

      }
    },

    getTokensForSale() {
      if (this.tokenContractInstance) {;
         (async () => {  this.tokensForSale = (
            (await this.tokenContractInstance.getTokensForSale())
                .map(i => i.toNumber())
        ) }) ()
      }
    },

    getTotalSupply() {
      if (this.tokenContractInstance) {
        (async () =>
        { this.totalSupply = (
            (await this.tokenContractInstance.getHowManyClaimed.call()).toNumber()
          ) })()

      }
    },

    getIsForSale(id) {
      this.resellPrice = 0;
      if (this.tokenContractInstance) {
        (async () =>
        { this.resellPrice = (
           web3.fromWei((await this.tokenContractInstance.isForSale(id)),"ether")
          ) })()
      }
    },

    getInitialPrice() {
      this.initialPrice = 0;
      if (this.tokenContractInstance) {
        (async () =>
        { this.initialPrice = (
           web3.fromWei((await this.tokenContractInstance.getInitialPrice()),"ether")
          )
        })()
      }
    },

    getOwnerOf(id) {
      this.owner = "n/a";
      if (this.tokenContractInstance) {
        (async () =>
        { this.owner = (
            (await this.tokenContractInstance.getOwnerOf(id))
          )
          if (this.owner === "0x0000000000000000000000000000000000000000")
            this.owner = false;
          else if (this.owner === this.account)
            this.owner = "ME";
        })()

      }
    },
  }
}

</script>
